@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{

    display: flex;
}
.header {
    width: 200%;
    height: 60px;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */

}
.container {
    width: 200%;
    height: 100%;
    background-color: white;

}
.header_icon {
    padding-bottom: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.menu_icon {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_icon li {
    display: inline-block;
    margin-right: 20px;
}
.menu ul {
    display: inline-block;
    margin-right: 20px;
}